
:root {

  --ig-status-text-color: white;/*maroon; /* 1. IG Title and status text color */
  --navbar-bg-color: #0057b8;/*#7b1fad; /* 2. Header container color */
  --footer-bg-color: #707070; /* 3. Footer background color*/
  --footer-container-bg-color: #16427f;/*#7b1fad; /* 4. Footer container color */
  --stripe-bg-color: #999999; /* 5. Header strip color */

  --btn-hover-color: #00234a;/*#9b2fdd;  /* 6. Menu button hover color */
  --btn-active-color: #00234a;/*#da0c23; /* 7. Menu button active color */
  --btn-text-color: white;/*#e6e6e6; /* 8. Menu button text color */
  --btn-gradient-start-color: #428bca; /* 9. Menu item gradient start color */
  --btn-gradient-end-color: #357ebd; /* 10. Menu item gradient end  color */
  --btn-gradient-start-color-alpha: #ff428bca; /* 11. Menu item gradient start color (with alpha) */
  --btn-gradient-end-color-alpha: #ff357ebd; /* 12. Menu item gradient end color (with alpha) */
  /*--link-color: #428bca; /* 13. Hyperlink text color - Original color not 508 compliant */
  --link-color: #0000aa;; /* 13. Hyperlink text color*/
  /* --link-hover-color: #2a6496; /* 14. Hyperlink text hover color - Original color not 508 compliant */
  --link-hover-color: #000066; /* 14. Hyperlink text hover color */

  /*--publish-box-bg-color: yellow; /* 15. Publish box background color - Original color not 508 compliant*/
  --publish-box-bg-color: #ffffcc; /* 15. Publish box background color */
  --publish-box-border: 1px solid #0A0008; /* 16.  Publish box border definition */

  /*--toc-box-bg-color: #ffeb7e; /* 17.  TOC box background color - Original color not 508 compliant*/
  --toc-box-bg-color: #ffffcc; /* 17.  TOC box background color */
  --toc-box-border: 1px solid navy; /* 18. TOC box border definition */

  --stu-note-background-color: #fff2ff; /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ffa0ff; /* 20. (STU) Note box border color */

  --ig-header-color: #f5f5f5; /* 21. Header color (sides) */
  --ig-header-container-color: #ffffff; /* 22. Header container color (center) */
  --footer-nav-bg-color: #f5f5f5; /* 23. Footer navigation background color*/

  --footer-text-color: #ffffff; /* 24. Footer highlight font color */
  --footer-hyperlink-text-color: #81BEF7; /* 25. Footer hyperlinks font color */
  --footer-highlight-text-color: #ffff77; /* 26. Footer highlight font color */

  --breadcrumb-bg-color: #f5f5f5; /* 27. Breadcrumb font color */
  --breadcrumb-text-color: ##555555; /* 28. Breadcrumb font color */

  --dragon-background-color: #fffbf7; /* 29. Dragon background color */
  --dragon-text-color: #101020; /* 30. Dragon font color */

  --section-header-text-color: #0070c0; /* 31. Section Header text color */
  --subsection-header-text-color: black; /* 32. Sub-section Header text color */

}

.navbar-inverse {
  background-color: var(--navbar-bg-color);
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: var(--btn-hover-color);
}
.navbar-inverse .navbar-nav > li > a {
  color: var(--btn-text-color);
  font-weight: bold;
}

#ig-status {
  line-height: 22px;
  margin-top: 0px;
  padding: 10px;
  color: var(--ig-status-text-color);
  background-color: var(--navbar-bg-color);
  text-align: center;
  height: 50px;
  font-size:18pt;
  font-weight: bold;
  font-family: Cambria, Georgia, serif;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: var(--btn-text-color);
  
}

active color
.dropdown-menu > .active > a:focus {
  background-color: var(--btn-active-color);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: var(--btn-active-color);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: var(--btn-active-color);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: var(--btn-active-color);
}

h2{color: var(--section-header-text-color);}
h3, h4, h5, h6{color: var(--subsection-header-text-color);}


a.named {
  color: black;
  text-decoration: none;
}

a.named:link {
  color: black;
  text-decoration: none;
}

a.named:visited {
  color: black;
  text-decoration: none;
}
a.named:hover {
  color: black;
  text-decoration: none;
}
a.named:active {
  color: black;
  text-decoration: none;
}


pre.json             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
        background: #fcfffc ; 
	padding: 5px;
	width: 650px;
}

pre.rdf             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
        background: #fdedff ; 
	padding: 5px;
	width: 650px;
}

pre.fhirpath             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
  background: #ffeafb ; 
	padding: 5px;
	width: 650px;
}

pre.graphql             {
	border: 1px solid #dcdcdc;
 	font-size: 11px;
        background: #f7e6ff ; 
	padding: 5px;
	width: 650px;
}

pre.xml              {
	font-family: 'Courier New';
 	font-size: 9pt;
        padding: 2px;
        background: #fbffff ; 
	width: 650px;
}


code {
    padding: 2px 4px;
    color: #003300;
    background-color: #f9f2f4;
    border-radius: 4px;
}